@charset "UTF-8";
h1,h2,h3,h4,h5,h6,p,ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
fl{float: left}
fr{float: right}
a{
    text-decoration: none;
}
.clearFloat{
    zoom: 1;
}
.clearFloat:after{
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}